@use "../../../styles/variables";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 350px;
  padding: 0 20px;
  position: relative;

  .btn-primary,
  app-input-add-item {
    margin-top: 30px;
    width: 100%;
  }

  @media (max-width: 750px) {
    width: 100%;
  }
}

:host {
  height: 100vh;
  height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  main.container {
    height: calc(100dvh - 220px);

    overflow: auto;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: variables.$black-010;
    }

    &::-webkit-scrollbar-thumb {
      background: variables.$primary;
      border-radius: 5px;
    }
  }

  footer {
    height: 90px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 2px solid variables.$black-010;
  }
}
