@if(!getListItems().length){

<div class="container">
  <img
    src="../../../assets/images/task-list-null.png"
    alt="Empty List!"
    loading="eager"
  />

  @if(addItem()) {

  <button class="btn btn-primary" (click)="addItem.set(false)">
    Create To-do list
  </button>

  } @else {

  <app-input-add-item
    [inputListItems]="getListItems()"
    (outputAddListItem)="getItems($event)"
  />

  }
</div>

} @else {

<app-input-add-item
  [inputListItems]="getListItems()"
  (outputAddListItem)="getItems($event)"
/>

<main class="container">
  @if (listItemsStage('pending').length) {
  <h2>Pendencies</h2>
  <app-input-list-item
    [inputListItems]="listItemsStage('pending')"
    (changeCheckbox)="emitChangeCheckbox($event)"
    (changeText)="emitTextChange($event)"
    (deleteItem)="deleteItemOfList($event)"
  />
  } @if (listItemsStage('completed').length) {
  <h2>Completed</h2>
  <app-input-list-item
    [inputListItems]="listItemsStage('completed')"
    (changeCheckbox)="emitChangeCheckbox($event)"
    (changeText)="emitTextChange($event)"
    (deleteItem)="deleteItemOfList($event)"
  />
  }
</main>

<footer>
  <button class="btn btn-danger" (click)="deleteAllItems()">
    Delete all items
  </button>
</footer>

}
